.blogs__blogsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blogs {
  margin-top: 40px;
  text-align: center;
}

.fa-plus {
  font-size: 14px !important;
}

.blogs > a {
  text-decoration: none;
   
}
